/*
	Drift by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

/* Banner */

	#banner {
		padding: 12em 0;
	}